LW7c/WebServiceClient/Connected Services/TS_Service/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCF_Service/TS/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_Service.Models" />
  <xs:element name="GetDict">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDictResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_Service.Models" minOccurs="0" name="GetDictResult" nillable="true" type="q1:ArrayOfTelephoneNumber" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDict">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF_Service.Models" minOccurs="0" name="telephoneNumber" nillable="true" type="q2:TelephoneNumber" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDictResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCF_Service.Models" minOccurs="0" name="AddDictResult" nillable="true" type="q3:TelephoneNumber" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdDict">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCF_Service.Models" minOccurs="0" name="telephoneNumber" nillable="true" type="q4:TelephoneNumber" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdDictResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCF_Service.Models" minOccurs="0" name="UpdDictResult" nillable="true" type="q5:TelephoneNumber" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelDict">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jj" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelDictResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCF_Service.Models" minOccurs="0" name="DelDictResult" nillable="true" type="q6:TelephoneNumber" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>